/* Style Variables */
:root {
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --white: #FFFFFF;
}

/* Global Styles */
*{
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
body {
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: var(--slate-300);
}


/* Component and Layout Style*/
.container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
img {
    width: 18rem;
    height: 18rem;
    border-radius: 0.625rem;
    margin: 1rem 1rem 1.5rem 1rem;
}

.card {
    width: 20rem;
    height: 31.1875rem;
    background-color: var(--white);
    border-radius: 1.25rem;
}

.content {
    width: 18rem;
    height: 9.5rem;
    margin: 0 1rem 2.5rem 1rem;
    text-align: center;
}

h1 {
    margin: 0 1rem 1rem 1rem;
    padding-bottom: 1rem;
    width: 16rem;
    height: 3.25rem;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;

}
p {
    margin: 0 1rem 0 1rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: .0125rem;
}